/* scss工具类 */

@import './variables';
// 重置样式
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialisased; // 字体平滑
}

a {
    color: #999;
}

// 文字对齐方式
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

// 生成对应的字体大小工具类
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@each $colorKey,
$color in $colors {
    // 文字颜色工具类
    .text-#{$colorKey} {
        color: $color
    }
    // 文字颜色工具类
    .bg-#{$colorKey} {
        background-color: $color
    }
}

// width,height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// 弹性布局
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

// 换行
.flex-wrap {
    flex-wrap: wrap;
}

// 在主轴上的对齐方式
@each $key,
$vaule in $flex-jc {
    .jc-#{$key} {
        justify-content: $vaule;
    }
}

// 在交叉轴上的对齐方式
@each $key,
$vaule in $flex-ai {
    .ai-#{$key} {
        justify-content: $vaule;
    }
}

.flex-1 {
    flex: 1;
}

// flex-grow属性定义项目的放大比例，为1时将等分剩余空间
.flex-grow-1 {
    flex-grow: 1;
}

// 边距、填充
@each $typeKey,
$type in $spacing-types {
    // .m-1 {margin:0.25rem}
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }
    // .mx-1 {margin-left:0.25rem}    .my-1 {margin-top:0.25rem}
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    // .mt-1 {margin-top:0.25rem}
    @each $directionKey,
    $direction in $spacing-directions {
        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}

// 按钮
.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($map: $font-sizes, $key: sm) * $base-font-size;
    padding: -0.2rem, -0.6rem;
}

// 快速入口
.nav {
    display: flex;
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active {
            color: map-get($map: $colors, $key: 'primary');
            border-bottom-color: map-get($map: $colors, $key: 'primary');
        }
    }
    &.nav-inverse {
        .nav-item {
            color: map-get($map: $colors, $key: 'white');
        }
        .active {
            border-bottom-color: map-get($map: $colors, $key: 'white');
        }
    }
}

// 精灵图
.sprite {
    background: url(../images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite1 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 63.546% 15.517%;
    }
    &.sprite2 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 90.483% 15.614%;
    }
    &.sprite3 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 36.746% 0.924%;
    }
    &.sprite4 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 10.408% 15.517%;
    }
    &.sprite5 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 36.467% 15.287%;
    }
    &.sprite6 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 9.302% 0.813%;
    }
    &.sprite7 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 63.3% 0.927%;
    }
    &.sprite8 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 63.3% 0.927%;
    }
    &.sprite9 {
        width: 2.3077rem;
        height: 1.9231rem;
        background-position: 0 96.207%;
    }
    &.sprite-arrow {
        width: 0.7692rem;
        height: 0.7692rem;
        background-position: 38.577% 52.076%;
    }
}